# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [2]:
diabetes = datasets.load_diabetes() # Call the diabetes dataset from sklearn
y = diabetes.target # define the target variable (dependent variable) as y

#https://stackoverflow.com/questions/56403626/not-able-to-load-dataset-as-per-the-instructions-in-article

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [3]:
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': '/Users/reneraube/opt/anaconda3/lib/python3.7/site-packages/sklearn/datasets/data/diabetes_data.csv.gz',
 'target_filename': '/Users/reneraube/opt/anaconda3/lib/python3.7/site-packages/sklearn/datasets/data/diabetes_target.csv.gz'}

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [4]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [5]:
columns = "age sex bmi map tc ldl hdl tch ltg glu".split() # Declare the columns names
df = pd.DataFrame(diabetes.data, columns=columns) # load the dataset as a pandas data frame
df

,age,sex,bmi,map,tc,ldl,hdl,tch,ltg,glu
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [6]:
print(" 1. 10 feature variables. Meaning: see dataframe/description \n 2. while target is a quantitative measure of disease progression one year after baseline, the 'data' is the input \n with tha tone can try to predict it/on that it depneds to a certain extent\n 3. 442")

 1. 10 feature variables. Meaning: see dataframe/description
 2. while target is a quantitative measure of disease progression one year after baseline, the 'data' is the input
 with tha tone can try to predict it/on that it depneds to a certain extent
 3. 442

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [7]:
diabetes.target.shape

(442,)

In [8]:
diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [10]:
diabetes_model = LinearRegression()

X = diabetes.data
y = diabetes.target

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [11]:
# can't use this as we want to have the last 20 values.
#diabetes_data_train, diabetes_data_test, diabetes_target_train, diabetes_target_test = train_test_split(x, y, shuffle= False, test_size=(20/442))

In [12]:
diabetes_data_train = X[:-20]
diabetes_data_test = X[-20:]
diabetes_target_train = y[:-20]
diabetes_target_test = y[-20:]

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [13]:
diabetes_model.fit(diabetes_data_train, diabetes_target_train)

print(diabetes_model.intercept_)
print(diabetes_model.coef_)

152.76430691633442
[ 3.03499549e-01 -2.37639315e+02  5.10530605e+02  3.27736980e+02
 -8.14131709e+02  4.92814588e+02  1.02848452e+02  1.84606489e+02
  7.43519617e+02  7.60951722e+01]

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [14]:
# Your code here:
y_pred = diabetes_model.predict(diabetes_data_test)
print(y_pred)
print("min", y_pred.min())
print("max", y_pred.max())

[197.61846908 155.43979328 172.88665147 111.53537279 164.80054784
 131.06954875 259.12237761 100.47935157 117.0601052  124.30503555
 218.36632793  61.19831284 132.25046751 120.3332925   52.54458691
 194.03798088 102.57139702 123.56604987 211.0346317   52.60335674]
min 52.54458691278303
max 259.1223776097739

#### Print your `diabetes_target_test` and compare with the prediction.

In [15]:
# Your code here:
print(diabetes_target_test)
print("min", diabetes_target_test.min())
print("max", diabetes_target_test.max())

[233.  91. 111. 152. 120.  67. 310.  94. 183.  66. 173.  72.  49.  64.
  48. 178. 104. 132. 220.  57.]
min 48.0
max 310.0

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [16]:
#no of course they are not exactly the same
#however, they are kinda similair
#min is very similair. Max is very different. Might be that max in this case represents a huge outlier in our 
#train dataset

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../images/statsmodels.png)

In [17]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [18]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [19]:
auto = pd.read_csv("../data/auto-mpg.csv")
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Look at the first 5 rows using the `head()` function:

In [20]:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [21]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horse_power     392 non-null float64
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
car_name        398 non-null object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [22]:
print("Oldest:", auto["model_year"].min())

Oldest: 70

In [23]:
print("Newest:", auto["model_year"].max())

Newest: 82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [24]:
auto.isnull().sum()
auto = auto.dropna()

In [25]:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [26]:
print(auto.cylinders.value_counts())
print("\nThere are %s possible values of cylinder." % auto.cylinders.value_counts().count())

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

There are 5 possible values of cylinder.

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [27]:
auto = auto.drop("car_name", axis=1)

In [28]:
X = auto[auto.columns.difference(["mpg"])] #columns.difference gives us all columns despite 
                                                                #for the specified one(s)
y = auto["mpg"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [29]:
auto_model = LinearRegression()
auto_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../images/r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [30]:
y_pred = auto_model.predict(X_train)
y_pred

array([31.04814776, 22.00160614, 30.33538546, 23.27720261, 25.11005007,
        9.66329959, 23.27496419, 25.71698941, 29.34261012, 32.33412503,
       25.4550283 , 25.65443563, 12.41718363, 26.24848422, 20.75766866,
       28.06783389, 23.41002146, 35.13831648, 22.77904514, 30.73895977,
       31.17250569,  8.0864349 , 27.60227044, 22.34601974, 25.86175613,
       31.93291943, 27.44178738, 25.24399755, 19.93854479, 34.61369687,
       12.58492296, 15.90090101, 32.07194809, 28.72006366, 21.08769258,
       30.48558178, 23.17893965, 28.28051781, 22.50549891, 29.95301966,
       17.06447465, 26.10045297, 33.38152975,  9.56530052, 21.31653519,
       17.27265436, 13.57952407, 28.67224501, 28.23503701, 34.42311986,
       30.95489403, 21.6209054 , 22.11660327, 24.33026042, 24.64565389,
       13.66849687, 27.39824496,  8.22600605, 26.75065488, 15.33264515,
       25.68487819, 28.83671275, 29.06164031, 17.98163383, 29.2458765 ,
       24.11427603, 27.44030718, 11.62183593, 26.77807465, 19.86014956,
       12.7677271 , 32.51553078, 21.61629412, 17.66829248, 16.53054494,
       34.42317254, 17.46874968, 19.07745045, 19.67928596, 16.02668201,
       22.00700246, 28.65071158, 19.78342547, 28.88668827, 29.49619627,
       26.92762019, 25.68003972, 17.726242  , 32.74560218, 21.62120907,
       24.06565303, 11.51041993, 10.55972091, 33.64188508, 24.83565227,
       31.43315435, 25.12313036, 23.18572907, 31.33195107, 25.46896519,
       33.74586949, 33.33507136,  9.43386988, 15.50271509, 29.87936513,
       12.2203221 , 20.16537903, 28.67499375, 16.70638591, 13.23012127,
       16.88085982, 24.61828231, 27.91999901, 25.62221693, 20.7291016 ,
       17.6115504 , 22.14957348, 20.57806925, 21.05405454, 21.63304852,
       19.86063965, 19.92450065, 30.10359297,  9.69197877, 26.09508598,
       25.14974822, 28.6107775 , 26.63230484, 11.87896921, 24.38391501,
       23.88271981, 24.3876648 , 29.10380442, 30.39579989, 13.88274263,
       19.11854585, 29.52987531, 18.13178063, 34.36674443, 26.00305387,
       18.21266823,  9.80162167, 17.52503449, 26.37176679, 21.64645535,
       31.91763422, 23.47071184, 29.03533997, 14.95238831, 23.33221754,
       29.90287632, 26.55445697, 28.26759429, 11.18022356, 20.40495697,
       20.26662675, 17.23073047, 20.46187127, 25.24458491, 32.25164187,
       22.09036934, 30.41147691, 26.99720293, 30.78127736, 31.59633231,
       15.18055169, 20.40329755, 22.89345095, 11.50446185, 30.14242049,
       10.0777596 , 26.84444136, 19.59252703, 29.60550408, 11.24823084,
       30.46197625, 30.94730299, 27.19226807, 21.03278864, 30.94139826,
       15.57111078, 31.93094096, 22.65247968, 20.77403257, 28.43889748,
       22.31694741, 34.72227733, 29.7602803 , 26.08551497, 31.58794921,
       25.13456631, 20.92300086, 14.03422487, 25.33571869, 14.33227069,
       29.32246915, 17.62766807, 33.20953431, 26.19023497,  6.18127784,
       26.01918768, 26.06012945, 17.36102189, 28.60376299, 32.67104764,
       31.4870226 , 16.46217859, 14.99588575, 11.12330297, 19.96387765,
       25.06358581, 16.43396496, 23.62578546,  5.05271276, 15.0117535 ,
       30.56292779, 29.43400418, 21.60256169, 34.33344874, 24.39278558,
       22.2098465 ,  8.315426  , 23.82300672, 15.40614991, 34.16007764,
       24.19242893, 10.99624704, 26.93840059, 24.58662021, 22.0371019 ,
       25.75542608, 15.8705451 , 25.74628585, 28.69787093, 26.67406008,
       16.71781604, 32.04917217, 30.50011468, 22.91742618, 28.87352513,
       13.66103554, 23.0464844 , 34.43495459, 24.20028346, 11.74333824,
       25.67200231, 29.59769406, 21.80886835, 32.28420759, 26.234287  ,
       27.52591193, 24.22811305, 33.2839748 ,  7.81497296, 10.78907363,
       23.16363715, 33.63907793,  9.75184056, 29.03748495, 35.27016755,
       25.52112152, 19.19900741,  7.53694133, 28.38401684, 20.52313414,
       19.60196134, 31.76918259, 30.02092618, 24.50072212, 21.87386618,
       29.06703303, 14.60053293, 32.01281746, 18.49022592, 25.91291333,
       25.08289097, 19.00968619, 30.76798119, 22.53894625, 21.22303034,
       30.73631668, 29.60781178, 19.03699539, 32.53254513, 12.46546558,
       27.51296144, 12.59327694, 31.02695899,  8.18762675, 27.96181133,
       28.17571824, 32.80755411, 21.31156146, 34.47089686, 11.79519894,
       30.40507929, 24.00934895, 15.53559947, 24.38850534, 13.79396584,
       32.06398791, 32.15275396, 30.50228071, 15.92801219, 12.88923837,
       22.83635732, 30.01484969, 23.89095725, 32.95480014, 23.0297897 ,
       26.63864006, 18.61377327, 22.12785986])

In [31]:
y_test

146    28.0
282    22.3
69     12.0
378    38.0
331    33.8
       ...
101    23.0
65     14.0
56     26.0
262    19.2
216    31.5
Name: mpg, Length: 79, dtype: float64

In [32]:
from sklearn.metrics import r2_score
r2_score(y_train, y_pred)

0.8088490656511089

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [33]:
y_test_pred = auto_model.predict(X_test)
y_test_pred

array([27.2734488 , 26.39876978, 10.42252581, 33.27790508, 32.10715834,
       23.56602679, 33.39010024, 25.22520627, 21.04089856, 26.21896028,
       27.77119508, 13.78751344, 25.86593777,  7.73880184, 16.46329411,
       31.95620078, 26.06215132, 12.90114079, 25.8122899 , 27.84664443,
       21.03314128, 18.01668321, 24.96318098, 27.98486373, 31.6663643 ,
       11.22423903, 29.48433768, 26.577297  , 23.29989653, 15.28746665,
       21.74138222, 29.62570762, 23.81898103, 28.45447238, 22.30105527,
       28.0986024 , 28.03323823, 11.20496228, 14.91127216,  9.98867521,
       14.05432369, 33.52183042, 29.42816146, 13.77167009, 30.86021155,
       15.08521001, 30.94817919, 10.29393833, 17.65087133, 22.55535459,
       26.53326636, 15.00849899,  9.57972967, 24.07778446, 31.5200505 ,
       25.80677086, 26.58785346, 20.86650382, 30.70881792, 25.65543998,
       19.83477092, 27.54228219, 31.21990996,  9.9601349 , 25.88345359,
       16.88103074, 10.08934194, 30.37204218, 21.093325  , 32.43781225,
       32.75540576, 30.34617331, 20.27215602, 16.08777041, 21.6254505 ,
       12.6365553 , 27.1362947 , 21.70718687, 30.68129293])

In [34]:
y_test

146    28.0
282    22.3
69     12.0
378    38.0
331    33.8
       ...
101    23.0
65     14.0
56     26.0
262    19.2
216    31.5
Name: mpg, Length: 79, dtype: float64

In [35]:
from sklearn.metrics import r2_score
r2_score(y_test, y_test_pred)

0.8088938602131778

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [36]:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.1, random_state=0)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [44]:
auto_model09 = LinearRegression()
auto_model09.fit(X_train09, y_train09)

y_pred09 = auto_model09.predict(X_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [49]:
#print(y_pred09)
#print(X_test09)
r2_score(y_train09, y_pred09)

0.8102752620591411

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [50]:
y_test_pred09 = auto_model.predict(X_test09)
y_test_pred09
r2_score(y_test09, y_test_pred09)

0.7966346926868114

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.