## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

# In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [63]:
# Your code here
import random
sample_list_1 = random.sample(range(1, 100), 80)
print(sample_list_1)

[28, 3, 79, 56, 63, 42, 5, 23, 80, 97, 44, 35, 51, 40, 70, 66, 88, 83, 29, 45, 47, 20, 6, 57, 99, 26, 19, 9, 92, 24, 7, 46, 87, 61, 86, 31, 36, 41, 64, 25, 82, 32, 33, 50, 39, 71, 55, 84, 43, 68, 34, 60, 4, 59, 98, 27, 16, 2, 76, 67, 81, 69, 8, 1, 49, 53, 13, 10, 48, 96, 18, 73, 21, 90, 12, 54, 30, 72, 74, 17]

In [64]:
sum(sample_list_1)/len(sample_list_1) # just to test whether I did it correct. Seems so, as average is approximately 50

47.4875

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [121]:
# Your code here
set1 = set(sample_list_1)
print(set1)
len(set1) # yes, still the same. Seems as if there have been no duplicates.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 92, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
# Your code here
import random
sample_list_2=[]
for i in range (80):
    sample_list_2.append(random.randrange(0, 101, 1)) #retrieved from: https://stackoverflow.com/questions/16655089/python-random-numbers-into-a-list/16655135
print (sample_list_2)

[4, 13, 62, 66, 70, 44, 74, 64, 95, 40, 76, 94, 54, 48, 72, 90, 94, 23, 41, 18, 88, 74, 16, 28, 83, 15, 7, 38, 92, 23, 61, 98, 3, 92, 24, 9, 76, 53, 35, 31, 56, 50, 3, 31, 65, 23, 70, 13, 51, 98, 50, 20, 51, 36, 99, 47, 69, 33, 22, 23, 2, 1, 78, 34, 87, 58, 23, 1, 16, 71, 48, 30, 5, 58, 12, 54, 79, 61, 27, 28]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [95]:
# Your code here
set2 = set(sample_list_2)
print(set2)
len(set2) # lost the duplicates

{1, 2, 3, 4, 5, 7, 9, 12, 13, 15, 16, 18, 20, 22, 23, 24, 27, 28, 30, 31, 33, 34, 35, 36, 38, 40, 41, 44, 47, 48, 50, 51, 53, 54, 56, 58, 61, 62, 64, 65, 66, 69, 70, 71, 72, 74, 76, 78, 79, 83, 87, 88, 90, 92, 94, 95, 98, 99}

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [96]:
# Your code here
set3 = set1 - set2
print(set3)

{6, 8, 10, 17, 19, 21, 25, 26, 29, 32, 39, 42, 43, 45, 46, 49, 55, 57, 59, 60, 63, 67, 68, 73, 80, 81, 82, 84, 86, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [97]:
# Your code here
set4 = set2 - set1
print(set4)

{65, 38, 78, 15, 22, 94, 58, 62, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [98]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
len(set5)

{1, 2, 3, 4, 5, 7, 9, 12, 13, 16, 18, 20, 23, 24, 27, 28, 30, 31, 33, 34, 35, 36, 40, 41, 44, 47, 48, 50, 51, 53, 54, 56, 61, 64, 66, 69, 70, 71, 72, 74, 76, 79, 83, 87, 88, 90, 92, 98, 99}

49

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [88]:
# Your code here
print("Set 1 has the length:", len(set1))
print("Set 2 has the length:", len(set2))
print("Set 3 has the length:", len(set3))
print("Set 4 has the length:", len(set4))
print("Set 5 has the length:", len(set5))

#what kind of relationship shall I create?
#doesen't work 
#set_all = set((len(set1), "set1"),(len(set2),"set2"), (len(set3),"set3"), (len(set4),"set4") (len(set5),"set5"))
#print(set_all)

Set 1 has the length: 80
Set 2 has the length: 58
Set 3 has the length: 31
Set 4 has the length: 9
Set 5 has the length: 49

#### Create an empty set called `set6`.

In [105]:
# Your code here
set6 = set([])
#set6 = {} didn't work somehow --> issue then, not recognized as a set in the next box

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [104]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 92, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [106]:
# Your code here
set1==set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [111]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [114]:
# Your code here
print(set3.union(set4).union(set5))
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [122]:
# Your code here
list1= list(set1)
print(list1)
list1.pop(0)
print(list1)
set1=set(list1)
print(set1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 92, 96, 97, 98, 99]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 92, 96, 97, 98, 99]
{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 92, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [128]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in list1: 
        list1.remove(i)
print(list1)
set1=set(list1)

[2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 57, 60, 63, 64, 66, 67, 68, 70, 72, 73, 74, 76, 80, 82, 83, 84, 86, 87, 88, 90, 92, 96, 97, 98]