# Challenge 2: Sentiment Analysis

In this challenge we will learn sentiment analysis and practice performing sentiment analysis on Twitter tweets. 

## Introduction

Sentiment analysis is to *systematically identify, extract, quantify, and study affective states and subjective information* based on texts ([reference](https://en.wikipedia.org/wiki/Sentiment_analysis)). In simple words, it's to understand whether a person is happy or unhappy in producing the piece of text. Why we (or rather, companies) care about sentiment in texts? It's because by understanding the sentiments in texts, we will be able to know if our customers are happy or unhappy about our products and services. If they are unhappy, the subsequent action is to figure out what have caused the unhappiness and make improvements.

Basic sentiment analysis only understands the *positive* or *negative* (sometimes *neutral* too) polarities of the sentiment. More advanced sentiment analysis will also consider dimensions such as agreement, subjectivity, confidence, irony, and so on. In this challenge we will conduct the basic positive vs negative sentiment analysis based on real Twitter tweets.

NLTK comes with a [sentiment analysis package](https://www.nltk.org/api/nltk.sentiment.html). This package is great for dummies to perform sentiment analysis because it requires only the textual data to make predictions. For example:

```python
>>> from nltk.sentiment.vader import SentimentIntensityAnalyzer
>>> txt = "Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do."
>>> analyzer = SentimentIntensityAnalyzer()
>>> analyzer.polarity_scores(txt)
{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.8442}
```

In this challenge, however, you will not use NLTK's sentiment analysis package because in your Machine Learning training in the past 2 weeks you have learned how to make predictions more accurate than that. The [tweets data](https://www.kaggle.com/kazanova/sentiment140) we will be using today are already coded for the positive/negative sentiment. You will be able to use the Naïve Bayes classifier you learned in the lesson to predict the sentiment of tweets based on the labels.

## Conducting Sentiment Analysis

### Loading and Exploring Data

The dataset we'll be using today is located in the lab directory named `Sentiment140.csv.zip`. You need to unzip it into a `.csv` file. Then in the cell below, load and explore the data.

*Notes:* 

* The dataset was downloaded from [Kaggle](https://www.kaggle.com/kazanova/sentiment140). We made a slight change on the original data so that each column has a label.

* The dataset is huuuuge (1.6m tweets). When you develop your data analysis codes, you can sample a subset of the data (e.g. 20k records) so that you will save a lot of time when you test your codes.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Sentiment140.csv")

In [3]:
df = df.sample(n = 5000)
df

,target,ids,date,flag,user,text
910441,4,1751607394,Sat May 09 19:50:53 PDT 2009,NO_QUERY,OfficialAthenaR,@jerennyofficial Hahah JONAS in 10 min!! woop ...
1224636,4,1990575968,Mon Jun 01 05:13:44 PDT 2009,NO_QUERY,Torontogirl_jen,@YoungQ You know you're on Twitter a lot when ...
454783,0,2070737341,Sun Jun 07 18:12:47 PDT 2009,NO_QUERY,sicklittlejag,Jacob &amp; I are waiting for our dinner to ar...
731857,0,2263930560,Sun Jun 21 02:14:42 PDT 2009,NO_QUERY,emremrem,is back to the grindstone for 4 12 hours shifts
1387820,4,2052965013,Sat Jun 06 02:43:56 PDT 2009,NO_QUERY,claireej,@SASilk New kitten? replacing Trubs already? p...
...,...,...,...,...,...,...
1364175,4,2049688387,Fri Jun 05 17:19:20 PDT 2009,NO_QUERY,chrisrneal,Is enjoying the Bomber patio
820901,4,1553864474,Sat Apr 18 15:25:17 PDT 2009,NO_QUERY,tiriltronic,more wine? yes please!
1131271,4,1975831568,Sat May 30 15:59:59 PDT 2009,NO_QUERY,gerard_k,@shaannon_h How did u smash ur phone? Soz twee...
1439585,4,2061525350,Sat Jun 06 21:03:07 PDT 2009,NO_QUERY,valeeeeee,"LISTEN TO, METALLICA- FRANTIC"
287769,0,1994331489,Mon Jun 01 11:46:16 PDT 2009,NO_QUERY,bigpix2000,@EricaToelle ... means that there may be a ser...

In [4]:
from string import digits
import re

def clean_up(s):
    #replace signs and lowercase
    s2 = s.replace("@", " ").replace("'"," ").replace("#", " ").replace("["," ").replace("("," ").replace(")"," ").replace("]"," ").replace('"'," ").lower()
    #more general and probably redundant
    s2 = s2.replace("[^a-zA-Z]+", " ").replace("-", " ")
    #remove numbers
    s3 = s2.translate(str.maketrans('', '', digits))
    #remove link
    s4 = re.sub(r"http\S+", "", s3)
    return s4

def tokenize(s):
    """
    Tokenize a string.

    Args:
        s: String to be tokenized.

    Returns:
        A list of words as the result of tokenization.
    """
    s2 = s.split()
    return s2

In [5]:
df['text_processed'] = df.apply(lambda x: clean_up(x['text']), axis=1)
#long day today maths, latin and dt. still

In [6]:
df['text_processed'] = df.apply(lambda x: tokenize(x['text_processed']), axis=1)

In [7]:
from nltk.stem import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer
#from nltk.stem.wordnet import WordNetLemmatizer
import nltk
nltk.download('wordnet')

def stem_and_lemmatize(l):
    sno = nltk.stem.SnowballStemmer('english')
    lemmatizer = WordNetLemmatizer()
    stem_w = []
    lemmatizer_w = []
    
    for i in l:
        stem = SnowballStemmer("english").stem(i)
        stem_w.append(stem)
    for i in stem_w:
        lem = lemmatizer.lemmatize(i)
        lemmatizer_w.append(lem)
    return lemmatizer_w

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/reneraube/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [8]:
df['text_processed'] = df.apply(lambda x: stem_and_lemmatize(x['text_processed']), axis=1)
df

,target,ids,date,flag,user,text,text_processed
910441,4,1751607394,Sat May 09 19:50:53 PDT 2009,NO_QUERY,OfficialAthenaR,@jerennyofficial Hahah JONAS in 10 min!! woop ...,"[jerennyoffici, hahah, jona, in, min!!, woop, ..."
1224636,4,1990575968,Mon Jun 01 05:13:44 PDT 2009,NO_QUERY,Torontogirl_jen,@YoungQ You know you're on Twitter a lot when ...,"[youngq, you, know, you, re, on, twitter, a, l..."
454783,0,2070737341,Sun Jun 07 18:12:47 PDT 2009,NO_QUERY,sicklittlejag,Jacob &amp; I are waiting for our dinner to ar...,"[jacob, &amp;, i, are, wait, for, our, dinner,..."
731857,0,2263930560,Sun Jun 21 02:14:42 PDT 2009,NO_QUERY,emremrem,is back to the grindstone for 4 12 hours shifts,"[is, back, to, the, grindston, for, hour, shift]"
1387820,4,2052965013,Sat Jun 06 02:43:56 PDT 2009,NO_QUERY,claireej,@SASilk New kitten? replacing Trubs already? p...,"[sasilk, new, kitten?, replac, trub, already?,..."
...,...,...,...,...,...,...,...
1364175,4,2049688387,Fri Jun 05 17:19:20 PDT 2009,NO_QUERY,chrisrneal,Is enjoying the Bomber patio,"[is, enjoy, the, bomber, patio]"
820901,4,1553864474,Sat Apr 18 15:25:17 PDT 2009,NO_QUERY,tiriltronic,more wine? yes please!,"[more, wine?, yes, please!]"
1131271,4,1975831568,Sat May 30 15:59:59 PDT 2009,NO_QUERY,gerard_k,@shaannon_h How did u smash ur phone? Soz twee...,"[shaannon_h, how, did, u, smash, ur, phone?, s..."
1439585,4,2061525350,Sat Jun 06 21:03:07 PDT 2009,NO_QUERY,valeeeeee,"LISTEN TO, METALLICA- FRANTIC","[listen, to,, metallica, frantic]"
287769,0,1994331489,Mon Jun 01 11:46:16 PDT 2009,NO_QUERY,bigpix2000,@EricaToelle ... means that there may be a ser...,"[ericatoell, ..., mean, that, there, may, be, ..."

In [9]:
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

def remove_stopwords(l):
    
    l2 = [word for word in l if not word in stopwords.words()]
    return l2

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/reneraube/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
df['text_processed'] = df.apply(lambda x: remove_stopwords(x['text_processed']), axis=1)
df

,target,ids,date,flag,user,text,text_processed
910441,4,1751607394,Sat May 09 19:50:53 PDT 2009,NO_QUERY,OfficialAthenaR,@jerennyofficial Hahah JONAS in 10 min!! woop ...,"[jerennyoffici, hahah, min!!, woop, woop!, wa,..."
1224636,4,1990575968,Mon Jun 01 05:13:44 PDT 2009,NO_QUERY,Torontogirl_jen,@YoungQ You know you're on Twitter a lot when ...,"[youngq, know, twitter, lot, flight, attend, m..."
454783,0,2070737341,Sun Jun 07 18:12:47 PDT 2009,NO_QUERY,sicklittlejag,Jacob &amp; I are waiting for our dinner to ar...,"[jacob, &amp;, wait, dinner, arrive., get, poi..."
731857,0,2263930560,Sun Jun 21 02:14:42 PDT 2009,NO_QUERY,emremrem,is back to the grindstone for 4 12 hours shifts,"[back, grindston, hour, shift]"
1387820,4,2052965013,Sat Jun 06 02:43:56 PDT 2009,NO_QUERY,claireej,@SASilk New kitten? replacing Trubs already? p...,"[sasilk, new, kitten?, replac, trub, already?,..."
...,...,...,...,...,...,...,...
1364175,4,2049688387,Fri Jun 05 17:19:20 PDT 2009,NO_QUERY,chrisrneal,Is enjoying the Bomber patio,"[enjoy, bomber, patio]"
820901,4,1553864474,Sat Apr 18 15:25:17 PDT 2009,NO_QUERY,tiriltronic,more wine? yes please!,"[wine?, yes, please!]"
1131271,4,1975831568,Sat May 30 15:59:59 PDT 2009,NO_QUERY,gerard_k,@shaannon_h How did u smash ur phone? Soz twee...,"[shaannon_h, smash, ur, phone?, soz, tweetdeck..."
1439585,4,2061525350,Sat Jun 06 21:03:07 PDT 2009,NO_QUERY,valeeeeee,"LISTEN TO, METALLICA- FRANTIC","[listen, to,, metallica, frantic]"
287769,0,1994331489,Mon Jun 01 11:46:16 PDT 2009,NO_QUERY,bigpix2000,@EricaToelle ... means that there may be a ser...,"[ericatoell, ..., mean, may, serious, hardwar,..."

### Prepare Textual Data for Sentiment Analysis

Now, apply the functions you have written in Challenge 1 to your whole data set. These functions include:

* `clean_up()`

* `tokenize()`

* `stem_and_lemmatize()`

* `remove_stopwords()`

Create a new column called `text_processed` in the dataframe to contain the processed data. At the end, your `text_processed` column should contain lists of word tokens that are cleaned up. Your data should look like below:

![Processed Data](data-cleaning-results.png)

In [11]:
# see above

### Creating Bag of Words

The purpose of this step is to create a [bag of words](https://en.wikipedia.org/wiki/Bag-of-words_model) from the processed data. The bag of words contains all the unique words in your whole text body (a.k.a. *corpus*) with the number of occurrence of each word. It will allow you to understand which words are the most important features across the whole corpus.

Also, you can imagine you will have a massive set of words. The less important words (i.e. those of very low number of occurrence) do not contribute much to the sentiment. Therefore, you only need to use the most important words to build your feature set in the next step. In our case, we will use the top 5,000 words with the highest frequency to build the features.

In the cell below, combine all the words in `text_processed` and calculate the frequency distribution of all words. A convenient library to calculate the term frequency distribution is NLTK's `FreqDist` class ([documentation](https://www.nltk.org/api/nltk.html#module-nltk.probability)). Then select the top 5,000 words from the frequency distribution.

In [ ]:
from nltk.probability import FreqDist

lst = []
for lst in df['text_processed']:
    for x in lst:
        lst.append(x)
        
#words = [w for lst in sample['text_processed'] for w in lst]
words = nltk.FreqDist(words)

top5000 = list(words.keys())[:5000]
top5000

### Building Features

Now let's build the features. Using the top 5,000 words, create a 2-dimensional matrix to record whether each of those words is contained in each document (tweet). Then you also have an output column to indicate whether the sentiment in each tweet is positive. For example, assuming your bag of words has 5 items (`['one', 'two', 'three', 'four', 'five']`) out of 4 documents (`['A', 'B', 'C', 'D']`), your feature set is essentially:

| Doc | one | two | three | four | five | is_positive |
|---|---|---|---|---|---|---|
| A | True | False | False | True | False | True |
| B | False | False | False | True | True | False |
| C | False | True | False | False | False | True |
| D | True | False | False | False | True | False|

However, because the `nltk.NaiveBayesClassifier.train` class we will use in the next step does not work with Pandas dataframe, the structure of your feature set should be converted to the Python list looking like below:

```python
[
	({
		'one': True,
		'two': False,
		'three': False,
		'four': True,
		'five': False
	}, True),
	({
		'one': False,
		'two': False,
		'three': False,
		'four': True,
		'five': True
	}, False),
	({
		'one': False,
		'two': True,
		'three': False,
		'four': False,
		'five': False
	}, True),
	({
		'one': True,
		'two': False,
		'three': False,
		'four': False,
		'five': True
	}, False)
]
```

To help you in this step, watch the [following video](https://www.youtube.com/watch?v=-vVskDsHcVc) to learn how to build the feature set with Python and NLTK. The source code in this video can be found [here](https://pythonprogramming.net/words-as-features-nltk-tutorial/).

[![Building Features](building-features.jpg)](https://www.youtube.com/watch?v=-vVskDsHcVc)

In [ ]:
lst_new = []
for m, n in df.rows():
    final_result = {}
    for x in top_words:
        final_result[x] = (x in n['text'])
    if n['target'] == 0:
        sentiment = False 
    else:
        sentiment = True
    lst_new.append((final_result, sentiment))

### Building and Traininng Naive Bayes Model

In this step you will split your feature set into a training and a test set. Then you will create a Bayes classifier instance using `nltk.NaiveBayesClassifier.train` ([example](https://www.nltk.org/book/ch06.html)) to train with the training dataset.

After training the model, call `classifier.show_most_informative_features()` to inspect the most important features. The output will look like:

```
Most Informative Features
	    snow = True            False : True   =     34.3 : 1.0
	  easter = True            False : True   =     26.2 : 1.0
	 headach = True            False : True   =     20.9 : 1.0
	    argh = True            False : True   =     17.6 : 1.0
	unfortun = True            False : True   =     16.9 : 1.0
	    jona = True             True : False  =     16.2 : 1.0
	     ach = True            False : True   =     14.9 : 1.0
	     sad = True            False : True   =     13.0 : 1.0
	  parent = True            False : True   =     12.9 : 1.0
	  spring = True            False : True   =     12.7 : 1.0
```

The [following video](https://www.youtube.com/watch?v=rISOsUaTrO4) will help you complete this step. The source code in this video can be found [here](https://pythonprogramming.net/naive-bayes-classifier-nltk-tutorial/).

[![Building and Training NB](nb-model-building.jpg)](https://www.youtube.com/watch?v=rISOsUaTrO4)

In [ ]:
#as seen: first import random
import random

#then split data using shuffle
random.shuffle(lst_new)
train_data = lst_new[:16000]
test_data = lst_new[16000:]

### Testing Naive Bayes Model

Now we'll test our classifier with the test dataset. This is done by calling `nltk.classify.accuracy(classifier, test)`.

As mentioned in one of the tutorial videos, a Naive Bayes model is considered OK if your accuracy score is over 0.6. If your accuracy score is over 0.7, you've done a great job!

In [ ]:
classifier = nltk.NaiveBayesClassifier.train(train_data)
nltk.classify.accuracy(classifier, test_data)

In [ ]:
#for some reason it doesn't work. I get an output, however, it is not the output that we want to see

## Bonus Question 1: Improve Model Performance

If you are still not exhausted so far and want to dig deeper, try to improve your classifier performance. There are many aspects you can dig into, for example:

* Improve stemming and lemmatization. Inspect your bag of words and the most important features. Are there any words you should furuther remove from analysis? You can append these words to further remove to the stop words list.

* Remember we only used the top 5,000 features to build model? Try using different numbers of top features. The bottom line is to use as few features as you can without compromising your model performance. The fewer features you select into your model, the faster your model is trained. Then you can use a larger sample size to improve your model accuracy score.

In [ ]:
# your code here

## Bonus Question 2: Machine Learning Pipeline

In a new Jupyter Notebook, combine all your codes into a function (or a class). Your new function will execute the complete machine learning pipeline job by receiving the dataset location and output the classifier. This will allow you to use your function to predict the sentiment of any tweet in real time.

In [ ]:
# your code here

## Bonus Question 3: Apache Spark

If you have completed the Apache Spark advanced topic lab, what you can do is to migrate your pipeline from local to a Databricks Notebook. Share your notebook with your instructor and classmates to show off your achievements!

In [ ]:
# your code here