# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [1]:
import numpy as np

#### 2. Print your NumPy version.

In [2]:
np.version.version

'1.17.2'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [7]:
a = np.random.random((2,3,5))

In [12]:
np.random.rand(2,3,5)

array([[[0.30273412, 0.02208356, 0.02934944, 0.90118159, 0.01336727],
        [0.8933331 , 0.88397472, 0.59614626, 0.63317627, 0.10375445],
        [0.9716494 , 0.79454624, 0.30993731, 0.48414148, 0.18433116]],

       [[0.58791145, 0.18189419, 0.23536016, 0.84103381, 0.12177539],
        [0.29139993, 0.9153883 , 0.52938264, 0.71372436, 0.02375683],
        [0.19540327, 0.86832117, 0.59891135, 0.40717099, 0.13930692]]])

In [14]:
np.random.sample((2,3,5))

array([[[0.49816708, 0.78838281, 0.60544721, 0.52504281, 0.21289774],
        [0.47590187, 0.22475689, 0.38389466, 0.48001859, 0.76357954],
        [0.36374153, 0.91252874, 0.08370774, 0.38076192, 0.06124459]],

       [[0.70771564, 0.86816057, 0.43029595, 0.39502132, 0.97008579],
        [0.1139383 , 0.07302722, 0.80370585, 0.8797782 , 0.42572401],
        [0.88772391, 0.77549279, 0.98047803, 0.03511085, 0.07010788]]])

#### 4. Print *a*.

In [12]:
print(a)

[[[0.33139589 0.91626918 0.82728558 0.44073257 0.61696496]
  [0.24875755 0.81909421 0.8742943  0.34758112 0.09734594]
  [0.31550156 0.12638282 0.94474224 0.26771773 0.22016662]]

 [[0.81032794 0.11942546 0.05372955 0.84892929 0.67905386]
  [0.98539343 0.5863635  0.34317032 0.24851439 0.32560882]
  [0.43035077 0.54086433 0.66333087 0.86357751 0.26326954]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [15]:
b = np.full((5,2,3),1)

#### 6. Print *b*.

In [16]:
print (b)

[[[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [21]:
print(a.size)
print(b.size)
a.size == b.size

30
30

True

#### 8. Are you able to add *a* and *b*? Why or why not?

In [26]:
print(np.add(a,b))
#no, I can't add a and b as they have different shapes:

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

In [28]:
print(a.shape)
print(b.shape)

(2, 3, 5)
(5, 2, 3)

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [19]:
c = np.reshape(b, (2,3,5))
print(c)

[[[1 1 1 1 1]
  [1 1 1 1 1]
  [1 1 1 1 1]]

 [[1 1 1 1 1]
  [1 1 1 1 1]
  [1 1 1 1 1]]]

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [20]:
d = np.add(a,c)
print(d)

[[[1.85374281 1.96888497 1.96269979 1.21934171 1.89851066]
  [1.22172401 1.22957364 1.00313795 1.84235249 1.20958859]
  [1.45657219 1.49620486 1.24108001 1.8878446  1.31396956]]

 [[1.86798968 1.25146252 1.51243043 1.71655701 1.73962599]
  [1.84570046 1.28691411 1.33225221 1.94738422 1.96895482]
  [1.87049325 1.87624379 1.0420147  1.36919212 1.97542586]]]

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [21]:
print(a)
print("\n")
print(d)
# d is a+1

print(d-a)

[[[0.85374281 0.96888497 0.96269979 0.21934171 0.89851066]
  [0.22172401 0.22957364 0.00313795 0.84235249 0.20958859]
  [0.45657219 0.49620486 0.24108001 0.8878446  0.31396956]]

 [[0.86798968 0.25146252 0.51243043 0.71655701 0.73962599]
  [0.84570046 0.28691411 0.33225221 0.94738422 0.96895482]
  [0.87049325 0.87624379 0.0420147  0.36919212 0.97542586]]]


[[[1.85374281 1.96888497 1.96269979 1.21934171 1.89851066]
  [1.22172401 1.22957364 1.00313795 1.84235249 1.20958859]
  [1.45657219 1.49620486 1.24108001 1.8878446  1.31396956]]

 [[1.86798968 1.25146252 1.51243043 1.71655701 1.73962599]
  [1.84570046 1.28691411 1.33225221 1.94738422 1.96895482]
  [1.87049325 1.87624379 1.0420147  1.36919212 1.97542586]]]
[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [22]:
e = np.multiply(a,c)
print(e)

[[[0.85374281 0.96888497 0.96269979 0.21934171 0.89851066]
  [0.22172401 0.22957364 0.00313795 0.84235249 0.20958859]
  [0.45657219 0.49620486 0.24108001 0.8878446  0.31396956]]

 [[0.86798968 0.25146252 0.51243043 0.71655701 0.73962599]
  [0.84570046 0.28691411 0.33225221 0.94738422 0.96895482]
  [0.87049325 0.87624379 0.0420147  0.36919212 0.97542586]]]

#### 13. Does *e* equal to *a*? Why or why not?

In [24]:
e == a
# it's the same, as 1*x=x values of a remain unchanged

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [25]:
d_mean = (np.mean(d))
d_max = (np.max(d))
d_min = (np.min(d))

print(d_mean)
print(d_max)
print(d_min)

1.5802623004345586
1.9754258612104278
1.003137953604332

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [26]:
f = np.empty((2,3,5))
print(f)
print("\n")
print(d)

[[[0.85374281 0.96888497 0.96269979 0.21934171 0.89851066]
  [0.22172401 0.22957364 0.00313795 0.84235249 0.20958859]
  [0.45657219 0.49620486 0.24108001 0.8878446  0.31396956]]

 [[0.86798968 0.25146252 0.51243043 0.71655701 0.73962599]
  [0.84570046 0.28691411 0.33225221 0.94738422 0.96895482]
  [0.87049325 0.87624379 0.0420147  0.36919212 0.97542586]]]


[[[1.85374281 1.96888497 1.96269979 1.21934171 1.89851066]
  [1.22172401 1.22957364 1.00313795 1.84235249 1.20958859]
  [1.45657219 1.49620486 1.24108001 1.8878446  1.31396956]]

 [[1.86798968 1.25146252 1.51243043 1.71655701 1.73962599]
  [1.84570046 1.28691411 1.33225221 1.94738422 1.96895482]
  [1.87049325 1.87624379 1.0420147  1.36919212 1.97542586]]]

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [95]:
#tried to use numpy. Didn't work out
"""
for k,l in column
    for j in f:
        for i in d:
            if [k,l] > d_min and i() < d_mean:
                j[k,l] = 25
            if i () < d_max and i () > d_mean:
                j = 75
            if i () == d_mean:
                j = 50
            if i () == d_min:
                j = 0
            if i.any() == d_max:
                j = 100
    print(f)
"""

[[[1.33139589 1.91626918 1.82728558 1.44073257 1.61696496]
  [1.24875755 1.81909421 1.8742943  1.34758112 1.09734594]
  [1.31550156 1.12638282 1.94474224 1.26771773 1.22016662]]

 [[1.81032794 1.11942546 1.05372955 1.84892929 1.67905386]
  [1.98539343 1.5863635  1.34317032 1.24851439 1.32560882]
  [1.43035077 1.54086433 1.66333087 1.86357751 1.26326954]]]

In [68]:
#turning d into a list
#turning d into a string first
d_string = str((d))
print("d-String:\n", d_string)
print("\n", type(d_string), "\n")


d_string_final = d_string.replace("[","").replace("]","")
print("d-string converted:\n", d_string_final)
d_list = d_string_final.split()
print("\n d_list \n", d_list,"\n\n")



#this was an unnecessary step. Please ignore
"""
#turning f into a list
#turning f into a string first
f_string = str((f))
print("f-String:\n", f_string)
print("\n", type(f_string), "\n")


f_string_final = f_string.replace("[","").replace("]","")
print("f-string converted:\n", f_string_final)
f_list = f_string_final.split()
print("\n f_list \n", f_list)
"""

d-String:
 [[[1.85374281 1.96888497 1.96269979 1.21934171 1.89851066]
  [1.22172401 1.22957364 1.00313795 1.84235249 1.20958859]
  [1.45657219 1.49620486 1.24108001 1.8878446  1.31396956]]

 [[1.86798968 1.25146252 1.51243043 1.71655701 1.73962599]
  [1.84570046 1.28691411 1.33225221 1.94738422 1.96895482]
  [1.87049325 1.87624379 1.0420147  1.36919212 1.97542586]]]

 <class 'str'>

d-string converted:
 1.85374281 1.96888497 1.96269979 1.21934171 1.89851066
  1.22172401 1.22957364 1.00313795 1.84235249 1.20958859
  1.45657219 1.49620486 1.24108001 1.8878446  1.31396956

 1.86798968 1.25146252 1.51243043 1.71655701 1.73962599
  1.84570046 1.28691411 1.33225221 1.94738422 1.96895482
  1.87049325 1.87624379 1.0420147  1.36919212 1.97542586

 d_list
 ['1.85374281', '1.96888497', '1.96269979', '1.21934171', '1.89851066', '1.22172401', '1.22957364', '1.00313795', '1.84235249', '1.20958859', '1.45657219', '1.49620486', '1.24108001', '1.8878446', '1.31396956', '1.86798968', '1.25146252', '1.51243043', '1.71655701', '1.73962599', '1.84570046', '1.28691411', '1.33225221', '1.94738422', '1.96895482', '1.87049325', '1.87624379', '1.0420147', '1.36919212', '1.97542586']

'\n#turning f into a list\n#turning f into a string first\nf_string = str((f))\nprint("f-String:\n", f_string)\nprint("\n", type(f_string), "\n")\n\n\nf_string_final = f_string.replace("[","").replace("]","")\nprint("f-string converted:\n", f_string_final)\nf_list = f_string_final.split()\nprint("\n f_list \n", f_list)\n'

In [74]:
#didn't get any 100, 0 or 50
#why?

g_list = []
for i in d_list:
    if float(i) > float(d_min) and float(i) < float(d_mean):
         g_list.append(25)
    if float(i) < float(d_max) and float(i) > float(d_mean):
        g_list.append(75)
    if float(i) == float(d_mean):
        g_list.append(50)
    if float(i) == float(d_min):
        g_list.append(0)
    if float(i) == float(d_max):
        g_list.append(0)
print(g_list)

[75, 75, 75, 25, 75, 25, 25, 75, 25, 25, 25, 25, 75, 25, 75, 25, 25, 75, 75, 75, 25, 25, 75, 75, 75, 75, 25, 25, 75]

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [83]:
#reshapeing process doesn't work due to mistake in task before.
print(d)
g_array = np.asarray(g_list)
print("\n", g_list)
print(g_array)
g_array.reshape(2,3,5)

[[[1.85374281 1.96888497 1.96269979 1.21934171 1.89851066]
  [1.22172401 1.22957364 1.00313795 1.84235249 1.20958859]
  [1.45657219 1.49620486 1.24108001 1.8878446  1.31396956]]

 [[1.86798968 1.25146252 1.51243043 1.71655701 1.73962599]
  [1.84570046 1.28691411 1.33225221 1.94738422 1.96895482]
  [1.87049325 1.87624379 1.0420147  1.36919212 1.97542586]]]

 [75, 75, 75, 25, 75, 25, 25, 75, 25, 25, 25, 25, 75, 25, 75, 25, 25, 75, 75, 75, 25, 25, 75, 75, 75, 75, 25, 25, 75]
[75 75 75 25 75 25 25 75 25 25 25 25 75 25 75 25 25 75 75 75 25 25 75 75
 75 75 25 25 75]

ValueError: cannot reshape array of size 29 into shape (2,3,5)

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [ ]:
# your code here